{
    "extends": "standard-with-typescript",
    "parserOptions": {
        "project": "./tsconfig.json"
    },
    "rules": {
        "no-useless-return": 0,
        "@typescript-eslint/explicit-function-return-type": 0,
        "@typescript-eslint/promise-function-async": 0,
        "@typescript-eslint/return-await": 0,
        "@typescript-eslint/no-unused-expressions": 0,
        "@typescript-eslint/no-misused-promises": 0,
        "@typescript-eslint/restrict-template-expressions": 0,
        "@typescript-eslint/strict-boolean-expressions": 0
    }
}
